<style>
        body {
            background-color: rgb(187, 165, 165);
        }
            hr {
            background-color: red;
            height:5px;
            }
            img {
height: 200px}
h3 {
    color: blue;
}
h2 {color:aqua}
</style>